<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="shortcut icon" type="image/png" href="/images/img/main_logo_1.png">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Boxicons CDN Link -->
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <title>QBank</title>
    <style>
        .scale-bg:hover{
            transform: scale(1.2);
        }
    </style>
</head>
<body>
    <div class="overflow-x-hidden">
        <nav class="sidebar close border-r-2 border-gray-300 transition-all duration-300">
            <header>
                <div class="image-text">
                    <p class="m-5"><img class="w-10 h-10" src="/images/img/main_logo_1.png">Welcome </p>
                </div>
                <i class='bx bx-chevron-right toggle_2'></i>
            </header>

            <div class="menu-bar">
                <div class="menu">                    
                    <ul class="menu-links">
                        <li class="nav-link lg:hidden">
                            <a href="/">
                                <i class='bx bx-home-alt icon' ></i>
                                <span class="text nav-text">Home</span>
                            </a>
                        </li>
                        <li class="nav-link lg:hidden">
                            <a href="#courses">
                                <i class='bx bx-home-alt icon' ></i>
                                <span class="text nav-text">Courses</span>
                            </a>
                        </li>
                        <li class="nav-link lg:hidden">
                            <a href="#departments">
                                <i class='bx bx-home-alt icon' ></i>
                                <span class="text nav-text">Departments</span>
                            </a>
                        </li>
                        <div class="text-xs ml-5 text-gray-500 my-4 font-bold">Admin Privileges</div>
                        <li class="nav-link">
                            <a href="/admin/members">
                                <i class='bx bxs-book-content icon'></i>
                                <span class="text nav-text">All Users</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="/admin/addcourse">
                                <i class='bx bx-book icon' ></i>
                                <span class="text nav-text">Add a course</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="/admin/addpasco">
                                <i class='bx bxs-bookmark-plus icon' ></i>
                                <span class="text nav-text">Add past question</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="bottom-content">
                    <li class="">
                        <a href="/logout">
                            <i class='bx bx-log-out icon' ></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>

                </div>
            </div>

        </nav>
        <section class="home wrapper " id="blur">
            <nav class="flex justify-between lg:justify-evenly absolute w-full align-middle items-center " >
                <div class="py-1 px-7 text-gray-100 text-xl"><a href="./index.html"><img class="w-20 h-20" src="/images/img/main_logo_1.png"></a></div>
                <span class="toggle_1 z-[60] block lg:hidden text-3xl text-gray-100 cursor-pointer mx-2">
                    <ion-icon name="menu"></ion-icon>
                </span>
                <div class="hidden lg:flex justify-between w-1/2 transition-all ease-in duration-500">
                    <div class=" space-x-10 text-gray-700">
                        <a href="/" class="text-gray-100 font-semibold hover:text-primary">Home</a>
                        <a href="#courses" class="text-gray-100 font-semibold hover:text-primary">Courses</a>
                        <a href="#departments" class="text-gray-100 font-semibold hover:text-primary">Departments</a>
                    </div>
                    <div class="text-gray-100 hover:text-gray-200 font-semibold">
                        <a class=" mx-2" href="/logout">Log out</a>
                    </div>
                </div>           
            </nav>
            <div class="flex justify-center align-middle items-center md:items-start" style="background-image: linear-gradient(rgba(2, 7, 21, 0.609), rgba(6, 1, 11, 0.765)
            ), url('/images/img/legon-premier.jpeg'); background-position: center; background-size: cover; height: 60vh;" >
                <div class="flex flex-col w-4/5 md:w-1/2 mt-[15vh] md:mt-[20vh]">
                    <div class=" text-white text-center text-3xl md:text-5xl" style="margin:20px 0;"><%=courseName%>(<%=courseCode%>)</div>
                    <div class="relative flex-col sm:flex-row sm:justify-start sm:m-5">
                      <input type="search" id="searchInput" class="w-full p-[17px] md:p-5  focus:outline-none" placeholder="search books...">
                      <span style="top:0%; right:-3%; padding-top: 14px;" class="absolute hover:bg-secondary cursor-pointer px-5 md:px-10 pb-[20px] md:pb-[16px] bg-primary"><i class=' bx bx-search text-2xl md:text-3xl text-gray-100'></i></span>
                      
                    </div>
                </div>
            </div>
            <p class=" text-gray-800 m-10 text-2xl ">All available papers from previous years...</p>
            <div class="mx-10 mb-32 flex flex-wrap">
                <% pascos.forEach((pasco)=>{ %>
                <div class="w-full sm:w-1/3 md:w-1/4 h-1/2 m-6 border border-gray-100" data-search="<%= pasco.name %> <%= pasco.code %> <%= pasco.examiner %> <%= pasco.year %> <%= pasco.semester %>">
                    <div class="h-1/2  flex justify-center bg-primary">
                        <a href="<%=pasco.pdf%>" target="_blank">
                            <img class="scale-bg transition-all duration-300 w-32 h-32 m-10" src="/images/img/pdf.png">
                        </a>
                    </div>
                    <div class=" h-1/2 py-5 m-2 text-gray-700 text-base space-y-2">
                        <p>Course Code: <%=pasco.code%></p>
                        <p>Examiner: <span><%=pasco.examiner%></span></p>
                        <p>Year: <span><%=pasco.year%></span></p>
                        <p class=" flex justify-between">Semester:<span><%=pasco.semester%> semester</span> <a href="<%=pasco.pdf%>" target="_blank" class=" underline hover:text-secondary text-left">View paper</a></p>
                    </div>
                </div>
                <% }) %>
               </div>
               <!-- <%- include('partials/footer')%>      -->
            </section>
        </div>
    <!-- <script>
        function Menu(e){
        let list = document.querySelector('.hamburger_menu');
        e.name === 'menu' ? (e.name = "close",list.classList.remove('top-[-355px]'),list.classList.add('top-[68px]')) :( e.name = "menu" ,list.classList.add('top-[-355px]'))
      }
    </script> -->
    <script src="/js/search.js"></script>
    <script>
        const body = document.querySelector('body'),
        sidebar = body.querySelector('nav'),
        toggle_1 = body.querySelector(".toggle_1"),
        toggle_2 = body.querySelector(".toggle_2");


        toggle_1.addEventListener("click" , () =>{
            console.log(1111)
            sidebar.classList.toggle("close");
        });

        toggle_2.addEventListener("click" , () =>{
            sidebar.classList.toggle("close");
        });

    </script>
</body>
</html>